Step 1 Data Exploration & Loading

#importing dependencies

In [1]:
import pandas as pd
import psycopg
from sqlalchemy import create_engine

In [2]:
pd.__version__

'2.2.2'

In [3]:
df_wal = pd.read_csv('/Users/kushrajbhatia/Documents/Personal Docs/Courses/SQL/Zero Analyst/Project - Walmart/Walmart.csv', encoding_errors='ignore')

In [4]:
df_wal

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48
...,...,...,...,...,...,...,...,...,...,...,...
10046,9996,WALM056,Rowlett,Fashion accessories,$37,3.0,03/08/23,10:10:00,Cash,3.0,0.33
10047,9997,WALM030,Richardson,Home and lifestyle,$58,2.0,22/02/21,14:20:00,Cash,7.0,0.48
10048,9998,WALM050,Victoria,Fashion accessories,$52,3.0,15/06/23,16:00:00,Credit card,4.0,0.48
10049,9999,WALM032,Tyler,Home and lifestyle,$79,2.0,25/02/21,12:25:00,Cash,7.0,0.48
10050,10000,WALM069,Rockwall,Fashion accessories,$62,3.0,26/09/20,9:48:00,Cash,3.0,0.33

In [5]:
df_wal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [6]:
df_wal.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [7]:
df_wal.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [8]:
df_wal.shape

(10051, 11)

In [9]:
#chequing all duplicates in the dataframe
df_wal.duplicated().sum()

51

In [10]:
#finding missing values
df_wal.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [11]:
#Removing Duplicates
df_wal.drop_duplicates(inplace= True)

#Validating the renoval of Duplicates
df_wal.duplicated().sum()

0

In [12]:
#Removing the null values. Rather than filling the values I'm preferring to remove the values

df_wal.dropna(inplace=True)

#rechecking whether the null values hae been removed/dropped
df_wal.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [13]:
df_wal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   object
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(3), int64(1), object(7)
memory usage: 934.6+ KB

In [14]:
#Converting the the unit price from text to float
df_wal["unit_price"].astype(float)

ValueError: could not convert string to float: '$74.69'

In [15]:
df_wal["unit_price"]

0       $74.69
1       $15.28
2       $46.33
3       $58.22
4       $86.31
         ...
9995       $37
9996       $58
9997       $52
9998       $79
9999       $62
Name: unit_price, Length: 9969, dtype: object

In [16]:
df_wal["unit_price"] = df_wal["unit_price"].str.replace('$','')
df_wal["unit_price"] = df_wal["unit_price"].astype(float)

In [17]:
df_wal["category"].nunique() #gives 6 unique values
df_wal["Branch"].nunique() #gives us 98 unique values
df_wal["Branch"].nunique() #gives 100 unique values
df_wal["payment_method"].nunique() #gives 3 unique values

# We can therefor convert these less unique values from string type to category type as this helps us better optimization of memory
# The category type is ideal for columns with a limited number of unique values.
df_wal["category"] = df_wal["category"].astype("category")
df_wal["payment_method"] = df_wal["payment_method"].astype("category")

#Now re checking df_info method you will see better memory usage with these 2 columns dtypes being updated to category
df_wal.info()

#the memory usage previously was: 863.9+ KB , now the memory usage: 798.6+ KB

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   category
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   category
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: category(2), float64(4), int64(1), object(4)
memory usage: 798.6+ KB

In [18]:
#Adding a new column as total price which is simple unit_price * quantity 

df_wal["total_price"] = df_wal["unit_price"] * df_wal["quantity"]

In [19]:
#now checking the dataset after removing the nulls and duplicates and adding a new column
df_wal.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [20]:
df_wal.shape

(9969, 12)

In [21]:
df_wal.columns
#We see the the columns names are in lower and capitalise formats and we need to change them all into lowe format
#Therefore before creating the table in posstgresql 4 , we need to format the columns.

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'total_price'],
      dtype='object')

In [22]:
df_wal.columns = df_wal.columns.str.lower()
df_wal

,invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,WALM056,Rowlett,Fashion accessories,37.00,3.0,03/08/23,10:10:00,Cash,3.0,0.33,111.00
9996,9997,WALM030,Richardson,Home and lifestyle,58.00,2.0,22/02/21,14:20:00,Cash,7.0,0.48,116.00
9997,9998,WALM050,Victoria,Fashion accessories,52.00,3.0,15/06/23,16:00:00,Credit card,4.0,0.48,156.00
9998,9999,WALM032,Tyler,Home and lifestyle,79.00,2.0,25/02/21,12:25:00,Cash,7.0,0.48,158.00
9999,10000,WALM069,Rockwall,Fashion accessories,62.00,3.0,26/09/20,9:48:00,Cash,3.0,0.33,186.00

In [23]:
#psql connection
# host = localhost
# port = 5432
# user = postgres
# password = 

engine_psql = create_engine("postgresql+psycopg://postgres:Postgres17!@localhost:5432/walmart_db")

try:
    engine_psql
    print ("Connection to PG Admin 4 Successful")
except:
    print("Connection COuld not be established")

Connection to PG Admin 4 Successful

In [24]:
df_wal.to_sql(name='walmart', con=engine_psql,if_exists='replace', index=False)
#df_wal.to_sql('walmart', engine_psql, if_exists='replace', index=False)


#this command has created the table called walmart in my postgresql PGADMIN 4 tool

-1

In [26]:
print("Thank you Python, See you in PG Admin 4 for the SQL")

Thank you Python, See you in PG Admin 4 for the SQL